body {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  font-family: 'Roboto';
  font-size: 2rem;
  height: 10vw;
}
#header-name {
  position: relative;
  top: -2vw;
  font-size: 4rem;
  font-family: 'Roboto';
  color: azure;
  margin-left: 2vw;
}
.portfolio-txt {
  font-family:'Open Sans';
  font-size: 4rem;
}
#form, #resume {
  font-family: 'Open Sans';
}
#resume {
  margin-left: 3vw;
}
.overlay {
  filter: contrast(50%);
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
}
.overlay:hover {
  filter: none;
}
.resume-list {
  list-style: circle;
  font-size: larger;
}