body {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  font-family: 'Roboto';
  font-size: 2rem;
  height: 10vw;
}
#header-name {
  position: relative;
  top: -2vw;
  font-size: 4rem;
  font-family: 'Roboto';
  color: azure;
  margin-left: 2vw;
}
.portfolio-txt {
  font-family:'Open Sans';
  font-size: 4rem;
}
#form, #resume {
  font-family: 'Open Sans';
}