body {
  background-color: rgb(167, 101, 113);
  min-height: 100vh;
  color: rgb(174, 173, 240);
}
.header {
  justify-content: space-between;
  align-items: center;
  background-color: rgb(64, 78, 77);
  color: rgb(216, 220, 255);
  font-family: 'Roboto';
  font-size: 2.5vw;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
}
#header-name {
  font-size: 3.5vw;
  font-family: cursive;
  margin-left: 2vw;
}
.portfolio-txt {
  font-family: 'Open Sans';
  font-size: 4rem;
}
#form,
#resume {
  font-family: 'Open Sans';
}
#resume {
  margin-left: 3vw;
}
#resume-link {
  text-decoration: none;
  color: inherit;
}
#resume-link:hover {
  color: rgb(64, 78, 77);
}
.overlay {
  filter: contrast(50%);
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
}
.overlay:hover {
  filter: none;
}
.resume-list {
  list-style: circle;
  font-size: larger;
}
